#text-container {
  /* Set the font family to Arial, sans-serif font */
  font-family: Arial, sans-serif;

  /* Set the font size to 1.5rem */
  font-size: 1.5rem;

  /* Set the background color to a dark gray */
  background: #333;

  /* Set the text color to white */
  color: #fff;

  /* Add padding of 1rem (16px) on all sides of the element */
  padding: 1rem;

}

.character {
  /* The opacity: 0; property sets the initial opacity of the element to 0, making it invisible */
  opacity: 0;
}